body {
    margin: 0px;
    background-color: #fff;
    overflow: hidden;
}
.original-color {
    color: rgba(122, 227, 225);
}

#number-display {
    position: fixed;
    top: 15px;
    color: rgba(122, 227, 225);
    background: rgba(133, 28, 30);
    padding: 5px;
    border-radius: 5px;    
    left: 15px;
    font-size: 30px;
    z-index: 1;
    font-family: Courier, sans-serif;
}

#hud {
    position: fixed;
    bottom: 30px;
    left: 40px;
    color: rgba(122, 227, 225);
    z-index: 1;
    background: rgba(133, 28, 30);
    padding: 15px;
    border-radius: 10px;
    font-family: Courier, sans-serif;
}
#hud p {
    margin: 0;
    padding: 0;
}
